@inherits LayoutComponentBase

<div class="main-container bg-dark text-white min-vh-100 d-flex flex-column">

    <!-- Header -->
    <header class="p-1 border-bottom border-light">
            <NavMenu />
    </header>

    <!-- Main Content -->
    <main class="flex-fill container py-4">
        @Body
    </main>

    <!-- Footer -->
    <footer class="p-3 border-top border-light text-center small">
        © 2025 ProdControlAV
    </footer>
</div>
