@inherits LayoutComponentBase

<div class="main-container text-white min-vh-100 d-flex flex-column">

    <!-- Main Content -->
    <main class="flex-fill container py-4">
        @Body
    </main>

</div>